body {
    font-family: 'Chelsea Market', cursive;
    margin: 0;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item-img {
    max-height: 60%;
}

h2 {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

.container {
    display: flex;
    width: 20vw;
    height: 20vw;
    padding: 5px;
    margin: 10px auto;
    background: aqua;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    flex-direction: column;
}

.button {
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    position: relative;
    bottom: 0px;
    margin: 10px auto;
}

.fruit {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 10vw;
}

.seafood {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 10vw;
}

.vegetables {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 10vw;
}

.bread {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 10vw;
}


/* Add your flexbox CSS below here */