body {
    font-family: 'Chelsea Market', cursive;
    margin: 0;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 70%;

}

article {
    width: 20vw;
    padding: 5px;
    margin: 10px;
    background: aqua;
    text-align: center;

    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
}

.button {
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    position: relative;
    bottom: 0px;
    margin: 10px auto;
}

.fruit {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width 70% of the box
}

.seafood {
    align-items: center;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width 70% of the box
}


/* Add your flexbox CSS below here */